*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.doneTask{
    text-decoration: line-through;
}

li{
    font-size: 1.5rem;
}

.remove{
    display: none;
}

.fa-xmark{
    color: red;
    font-size: 1.5rem;
    padding-left: 1rem;

}