*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

h1{
    text-align: center;
    background-color: crimson;
    background-color: wheat;
}

.doneTask{
    text-decoration: line-through;
    background-color: lightgreen;
}

li{
    font-size: 1.5rem;
    background-color: lightblue;
    padding-right: 1rem;
    margin: 1.5rem;
}

.remove{
    display: none;
}

.fa-xmark{
    color: red;
    font-size: 1.5rem;
    margin-left: 2rem;
    background-color: black;


}

.addSection{
    text-align: center;
}

label{
    margin-right: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
}

input{
    width: 20rem;
    height: 2rem;
    border: 2px solid orange;
    margin-right: 1rem;
    text-align: center;
}

button{
    width: 5rem;
    height: 2rem;
    font-weight: bold;
    font-size: 1rem;
    background-color: orange;
}